* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:  #dff02a;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-repeat: repeat-x-y;
}

h1 {
    font-size: 4rem
}

h1,h2 {
    margin-bottom: 3rem;
}

.game_container{
    width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border:3px solid #4017f8;
   
    
}
.title {
    background: #f81739;
    padding: 10px 0 10px 40px;
    margin: 50px 0 30px 10px;
    color: white;
    width: 670px;
    height: 100px;
    font-family:sans-serif;
    font-size: 55px;
    margin-top: 200px;
    align-items: center;
    text-align: center;
    
}
span {
    color: #4017f8;
    font-weight: bold;
}
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    border: 1px solid #ffcc5c;
    background: #4017f8;
    user-select: none;

}
.block:hover {
    border:7px solid #05b50a;
    background:#ffcc5c;
    cursor: pointer;
}
#error {
    font-size: 1.2rem;
    margin-top: 2rem;
    letter-spacing: 4px;
}
